#blender{
    text-align: center;
}

#blender img{
    height: 150px;
    width: 150px;
}

.container {
    display: grid;

    height: 600px;

    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.renders
{
    grid-column: 2;
    text-align: center;
}

.renders img{
    height: 600px;
    width: auto;
}